# Dependencies
*.tsbuildinfo
# Build artifacts

server/prisma/migrations/
server/prisma/*.db-journal
server/prisma/*.db
# Prisma

*.sw?
*.sln
*.njsproj
*.ntvs*
*.suo
.DS_Store
.idea
!.vscode/extensions.json
.vscode/*
# Editor directories and files

lerna-debug.log*
pnpm-debug.log*
yarn-error.log*
yarn-debug.log*
npm-debug.log*
# Logs

.env.production.local
.env.test.local
.env.development.local
.env.local
.env
# Environment Variables

*.local
dist/
build/
# Production

*.log
coverage/
# Testing

.pnp.js
.pnp
node_modules/

